<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <InstallExecuteSequence>
      <Custom Action="RunPowerShellScript" After="InstallFinalize"></Custom>
    </InstallExecuteSequence>

    <CustomAction Id="RunPowerShellScript" Execute="immediate" Value="
        powershell.exe -ExecutionPolicy Bypass -File $(Session.Property('INSTALLFOLDER'))\Setup.ps1" />

    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">

      <Component>
        <File Source="atk.exe" />
      </Component>


      <Component>
        <File Source="open_with_atk.cmd" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Package Name="ATK" Manufacturer="Antonako1" Version="0.0.0.1" UpgradeCode="7fb5752d-db54-4cd2-80ed-aaefd9a20ba5">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />

    </Feature>
  </Package>

</Wix>
