<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ATK" Manufacturer="Antonako1" Version="0.0.0.1" UpgradeCode="7fb5752d-db54-4cd2-80ed-aaefd9a20ba5">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Feature Id="Main">
        <ComponentGroupRef Id="ExampleComponents" />

        

    </Feature>
  </Package>

</Wix>
