<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <!-- <Property Id="INSTALLFOLDER">
    <Value>[ProgramFilesFolder]\ATK</Value>
  </Property>

  <Property Id="Session.Property">
    <Function>
      <FunctionRef Id="Session.Property">
        <Param Id="propertyName" />
      </FunctionRef>
    </Function>
  </Property> -->
  <Package Name="ATK" Manufacturer="Antonako1" Version="0.0.0.1" UpgradeCode="7fb5752d-db54-4cd2-80ed-aaefd9a20ba5">
    <!-- <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" /> -->

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />

    </Feature>
  </Package>

</Wix>
